
.container{
	border-radius: 2rem;
	/* background: green; */
}
.title h1{
	color: black
}
.icon{
	width: 50%;
	float: left;
	margin-top: 2.2rem;
	padding-left: 3%;
}
.icon p{
	width: 80%;
	padding-left: 5rem;
	font-size: 1.7rem;

}
.icon i{
	font-size: 3rem;
	float: left;
}
.carousel-inner{
	border-radius: 2rem;
	}
a{
	border-radius: 2rem;
}
.card-prices {
    margin-top: 30rem;
    font-size: 3.5rem;
    color:#ED4410;
    padding-right: 5rem;
    display: block;
}
a.btn-purcharse {
    background: white;
    color:#ED4410!important;
    border-radius: 0.8rem !important;
    padding: 1.2rem 7rem;
    border-color: #ED4410;
    font-size: 1.8rem;
}
a.btn-purcharse: hover{
	height: 20px;
}
